In [1]:
import pandas as pd
import numpy as np

import pickle

from sklearn.feature_extraction.text import TfidfVectorizer 

from sklearn.svm import SVC 

import warnings
warnings.filterwarnings("ignore")

In [2]:
data_train = pd.read_csv('data_train.csv', sep=';')
data_test = pd.read_csv('data_test.csv', sep=';')

In [15]:
X_train = data_train['Clean_text']
X_test = data_test['Clean_text']

y_train = data_train['price']
y_test = data_test['price']

y_train = data_train['packaging']
y_test = data_test['packaging']

y_train = data_train['product']
y_test = data_test['product']

y_train = data_train['aroma']
y_test = data_test['aroma']

In [20]:
from sklearn.feature_extraction.text import TfidfTransformer,TfidfVectorizer, CountVectorizer
tfidf_transformer = TfidfTransformer()
count_vectorize = CountVectorizer()

In [48]:
tfidf = TfidfVectorizer()
tfidf_train = tfidf_vectorizer.fit_transform(X_train).toarray()
tfidf_test = tfidf_vectorizer.fit_transform(X_test).toarray()
tfidf_train.shape

(2534, 8592)

In [49]:
tfidf_test.shape

(792, 4474)

In [50]:
vectorizer = TfidfVectorizer(max_features=1000)
vectors = vectorizer.fit_transform(X_train)
words_dataset = pd.DataFrame(vectors.toarray(), columns=vectorizer.get_feature_names())
words_dataset.head()

,about,acid,acne,acnes,active,ada,adat,adem,administrasi,advanced,...,worth,would,wow,yaa,yah,yang,yes,you,your,zone
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.135991,...,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.104493,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0